{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<pre style="white-space: pre-wrap; font-family: inherit;">
Политика конфиденциальности

1. Общие положения

Настоящая Политика конфиденциальности (далее – Политика) регулирует обработку и защиту персональных данных пользователей интернет-аптеки AkmalFarmMedical (далее – Компания, Сайт). Мы уделяем особое внимание защите персональной информации наших клиентов и стремимся обеспечить безопасность их данных в соответствии с действующим законодательством.

2. Сбор и обработка персональных данных

2.1. При использовании Сайта могут собираться следующие персональные данные:

ФИО;

Контактные данные (телефон, email);

Адрес доставки заказов;

Информация о заказах и история покупок;

Платежная информация (обрабатывается платежными системами и не хранится Компанией);

IP-адрес, данные о браузере и устройстве пользователя.

2.2. Персональные данные пользователей обрабатываются исключительно для:

Оформления и доставки заказов;

Обработки запросов и обращений в службу поддержки;

Улучшения работы Сайта и пользовательского опыта;

Информирования о новостях, акциях и специальных предложениях (с согласия пользователя);

Соблюдения требований законодательства.

3. Передача данных третьим лицам

3.1. Компания не передает персональные данные пользователей третьим лицам, за исключением следующих случаев:

Для исполнения заказа (например, передача данных курьерской службе);

Для обработки платежей (банковским и платежным системам);

При наличии законного требования со стороны государственных органов.

4. Защита персональных данных

4.1. Компания принимает все необходимые технические и организационные меры для защиты персональных данных от утраты, несанкционированного доступа, изменения или раскрытия.

4.2. Доступ к персональным данным имеют только уполномоченные сотрудники, которые обязаны соблюдать конфиденциальность.

5. Права пользователей

5.1. Пользователь имеет право:

Запрашивать информацию о своих персональных данных и целях их обработки;

Требовать исправления, удаления или ограничения обработки данных;

Отозвать согласие на обработку данных (в случаях, предусмотренных законодательством);

Подать жалобу в уполномоченные органы в случае нарушения своих прав.

6. Использование файлов cookie

6.1. Сайт использует файлы cookie для анализа трафика, улучшения работы сервиса и персонализации контента. Пользователь может изменить настройки cookie в браузере.

7. Изменения в Политике конфиденциальности

7.1. Компания оставляет за собой право вносить изменения в настоящую Политику. Обновленная версия размещается на Сайте и вступает в силу с момента публикации.

8. Контактная информация

По всем вопросам, связанным с обработкой персональных данных, Вы можете связаться с нами:

"BIG-FAMILY-PHARM" MCHJ
info.akmalfarmmed@gmail.com
+998(78) 298-00-88
Андижон вилояти, Андижон шахар, А.Фуркат кучаси 24-уй

Дата последнего обновления: 01.05.2025
</pre>
{% endblock content %}
