{% extends 'base.html' %} {% load static %} {% block content %}
<script src="{% static 'lang/lang.js' %}" defer></script>

<br />
<br />
<br />
<br />
<br />
<pre
  style="white-space: pre-wrap; font-family: inherit"
  data-i18n="privacy_policyText"
>
Maxfiylik siyosati

1. Umumiy qoidalar

Ushbu Maxfiylik siyosati (keyingi o‘rinlarda – Siyosat) AkmalFarmMedical internet-dorixonasi (keyingi o‘rinlarda – Kompaniya, Sayt) foydalanuvchilarining shaxsiy ma’lumotlarini qayta ishlash va himoya qilishni tartibga soladi. Biz mijozlarimizning shaxsiy ma’lumotlarini himoya qilishga alohida e’tibor beramiz va ularning ma’lumotlarini amaldagi qonunchilikka muvofiq xavfsiz saqlashga intilamiz.

2. Shaxsiy ma’lumotlarni yig‘ish va qayta ishlash

2.1. Saytdan foydalanishda quyidagi shaxsiy ma’lumotlar yig‘ilishi mumkin:

F.I.O.;

Aloqa ma’lumotlari (telefon, email);

Buyurtmalarni yetkazib berish manzili;

Buyurtmalar va xaridlar tarixi;

To‘lov ma’lumotlari (to‘lov tizimlari tomonidan qayta ishlanadi va Kompaniya tomonidan saqlanmaydi);

IP-manzil, brauzer va foydalanuvchi qurilmasi haqidagi ma’lumotlar.

2.2. Foydalanuvchilarning shaxsiy ma’lumotlari faqat quyidagi maqsadlarda qayta ishlanadi:

Buyurtmalarni rasmiylashtirish va yetkazib berish;
Mijozlarni qo‘llab-quvvatlash xizmatiga murojaatlarni ko‘rib chiqish;
Sayt ishlashini va foydalanuvchi tajribasini yaxshilash;
Yangiliklar, aksiyalar va maxsus takliflar haqida xabar berish (foydalanuvchi roziligi bilan);
Qonunchilik talablariga rioya qilish.

3. Ma’lumotlarni uchinchi shaxslarga uzatish

3.1. Kompaniya foydalanuvchilarning shaxsiy ma’lumotlarini uchinchi shaxslarga uzatmaydi, quyidagi holatlar bundan mustasno:

Buyurtmani bajarish uchun (masalan, kuryer xizmatiga ma’lumot uzatish);
To‘lovlarni qayta ishlash uchun (bank va to‘lov tizimlariga);
Davlat organlarining qonuniy talabi mavjud bo‘lganda.

4. Shaxsiy ma’lumotlarni himoya qilish

4.1. Kompaniya shaxsiy ma’lumotlarni yo‘qotish, ruxsatsiz kirish, o‘zgartirish yoki oshkor qilishdan himoya qilish uchun barcha zarur texnik va tashkiliy choralar ko‘radi.

4.2. Shaxsiy ma’lumotlarga faqat vakolatli xodimlar kirish huquqiga ega bo‘lib, ular maxfiylikni saqlashga majburdirlar.

5. Foydalanuvchilarning huquqlari

5.1. Foydalanuvchi quyidagi huquqlarga ega:

O‘z shaxsiy ma’lumotlari va ularni qayta ishlash maqsadlari haqida ma’lumot so‘rash;
Ma’lumotlarni tuzatish, o‘chirish yoki qayta ishlashni cheklashni talab qilish;
Ma’lumotlarni qayta ishlashga rozilikni qaytarib olish (qonunchilikda nazarda tutilgan hollarda);
Huquqlari buzilgan taqdirda vakolatli organlarga shikoyat berish.

6. Cookie fayllaridan foydalanish

6.1. Sayt trafikni tahlil qilish, xizmatni yaxshilash va kontentni shaxsiy moslashtirish uchun cookie fayllaridan foydalanadi. Foydalanuvchi brauzer sozlamalarida cookie fayllarini o‘chirishi yoki o‘zgartirishi mumkin.

7. Maxfiylik siyosatiga o‘zgartirishlar

7.1. Kompaniya ushbu Siyosatga o‘zgartirish kiritish huquqini o‘zida saqlab qoladi. Yangilangan versiya Saytda e’lon qilinadi va nashr qilingan paytdan kuchga kiradi.

8. Aloqa ma’lumotlari

Shaxsiy ma’lumotlarni qayta ishlash bilan bog‘liq barcha savollar bo‘yicha biz bilan bog‘lanishingiz mumkin:

"BIG-FAMILY-PHARM" MCHJ
info.akmalfarmmed@gmail.com
+998(78) 298-00-88
Andijon viloyati, Andijon shahri, A.Furqat ko‘chasi 24-uy

Oxirgi yangilanish sanasi: 01.05.2025
</pre>
{% endblock content %}