{% extends 'base.html' %} {% load static %} {% block content %}
<script src="{% static 'lang/lang.js' %}" defer></script>

<br />
<br />
<br />
<br />
<br />
<pre
  style="white-space: pre-wrap; font-family: inherit"
  data-i18n="public_offerText"
>
PUBLIK OFERTA SHARTNOMASI

Andijon shahri
Nashr qilingan sana: «01» may 2025 yil

1. UMUMIY QOIDALAR
1.1. Ushbu hujjat AkmalFarmMedical internet-dorixonasi (keyingi o‘rinlarda – «Sotuvchi») direktori RASULOV XURSHIDBEK RUSTAMOVICH nomidan har qanday jismoniy yoki yuridik shaxs (keyingi o‘rinlarda – «Xaridor») bilan tovar sotib olish-shartnomasini tuzish bo‘yicha rasmiy taklif (oferta) hisoblanadi.
1.2. Xaridor tomonidan AkmalFarmMedical saytida buyurtma berish ushbu Ofertaning barcha shartlariga to‘liq rozilik bildirilganligini anglatadi.

2. SHARTNOMA PREDMETI
2.1. Sotuvchi AkmalFarmMedical internet-dorixonasi orqali buyurtma qilingan tovarlarni yetkazib berishga, Xaridor esa ularni to‘lash va qabul qilishga majburdir.
2.2. Tovarlar internet-dorixona saytidagi katalogda tavsifi, narxi va sotish shartlari bilan taqdim etilgan.

3. BUYURTMA VA TO‘LOV TARTIBI
3.1. Buyurtma Xaridor tomonidan saytda mustaqil ravishda yoki saytda ko‘rsatilgan telefon orqali amalga oshiriladi.
3.2. To‘lov bank kartasi, elektron to‘lov tizimlari orqali naqd pulsiz yoki yetkazib berishda naqd pul bilan amalga oshiriladi.
3.3. Har bir tovarning narxi saytda ko‘rsatilgan va Sotuvchi tomonidan bir tomonlama tartibda o‘zgartirilishi mumkin.

4. TOVARNI YETKAZIB BERISH VA QABUL QILISH
4.1. Tovarlar kuryer xizmatlari orqali yetkazib beriladi yoki dorixonalardan mustaqil olib ketish yo‘li bilan amalga oshiriladi.
4.2. Yetkazib berish muddatlari va shartlari hududga qarab farq qiladi va buyurtma berishda kelishiladi.

5. TOVARNI QAYTARISH VA ALMASHTIRISH
5.1. O‘zbekiston Respublikasi qonunchiligiga ko‘ra, dori vositalari va tibbiy buyumlar nuqson aniqlanmagan holatlarda qaytarib berilmaydi va almashtirilmaydi.
5.2. Agar tovar sifatsiz bo‘lsa, Xaridor fiskal chek va ekspertiza xulosasini taqdim etgan holda almashtirish yoki pulni qaytarishni talab qilish huquqiga ega.

6. TOMONLARNING HUQUQ VA MAJBURIYATLARI
6.1. Sotuvchi majbur:
- Tovarlar haqidagi ma’lumotlar, ularning mavjudligi va narxlarini yangilab borish.
- To‘langan tovarni Xaridorga yetkazib berish.
- Faqat sifat standartlariga mos keladigan sertifikatlangan tovarlarni sotish.

6.2. Xaridor majbur:
- Buyurtma berishda to‘g‘ri ma’lumotlar taqdim etish.
- Buyurtma qilingan tovarni belgilangan muddatlarda qabul qilish va to‘lash.
- Sotib olishdan oldin Oferta shartlari bilan tanishish.

7. TOMONLARNING JAVOBGARLIGI
7.1. Tomonlar majburiyatlarni bajarmaganlik uchun O‘zbekiston Respublikasi qonunchiligiga muvofiq javobgarlikka tortiladi.
7.2. Agar tovar saytdagi tavsifga mos kelsa, Sotuvchi Xaridorning kutilmagan natijalari uchun javobgar emas.

8. FORS-MAJOR
8.1. Fors-major holatlari (qarshilik ko‘rsatib bo‘lmaydigan holatlar) yuz berganda tomonlar majburiyatlarni bajarmaganlik uchun javobgarlikdan ozod qilinadi.

9. QO‘SHIMCHA SHARTLAR
9.1. Ushbu Oferta internet-dorixona saytida e’lon qilingan paytdan kuchga kiradi va Sotuvchi uni bekor qilmaguncha amal qiladi.
9.2. Sotuvchi Oferta shartlariga oldindan ogohlantirmasdan o‘zgartirish kiritish huquqini o‘zida saqlab qoladi.
9.3. Ushbu Shartnoma ijrosi jarayonida yuzaga keladigan nizolar muzokaralar yo‘li bilan hal qilinadi, agar kelishuvga erishilmasa – sud tartibida ko‘rib chiqiladi.

10. SOTUVCHI REKVIZITLARI
Internet-dorixona AkmalFarmMedical
Direktor: RASULOV XURSHIDBEK RUSTAMOVICH
Manzil: Andijon viloyati, Andijon shahri, A.Furqat ko‘chasi 24-uy
Telefon: +998(78) 298-00-88
E-mail: info.akmalfarmmed@gmail.com
</pre>
{% endblock content %}