{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
    <p>ДОГОВОР ПУБЛИЧНОЙ ОФЕРТЫ

        г. Андижан
        Дата публикации: «01» мая 2025 г.
        
        1. ОБЩИЕ ПОЛОЖЕНИЯ
        1.1. Настоящий документ является официальным предложением (офертой) интернет-аптеки AkmalFarmMedical (далее – «Продавец») в лице директора RASULOV XURSHIDBEK RUSTAMOVICH, заключить договор купли-продажи товаров с любым физическим или юридическим лицом (далее – «Покупатель»).
        1.2. Совершение Покупателем заказа на сайте AkmalFarmMedical означает полное согласие с условиями настоящей Оферты.
        
        2. ПРЕДМЕТ ДОГОВОРА
        2.1. Продавец обязуется передать, а Покупатель обязуется оплатить и принять заказанные через интернет-аптеку AkmalFarmMedical товары.
        2.2. Товары представлены в каталоге на сайте интернет-аптеки с описанием, ценой и условиями продажи.
        
        3. ПОРЯДОК ЗАКАЗА И ОПЛАТЫ
        3.1. Заказ оформляется Покупателем самостоятельно через сайт или по телефону, указанному на сайте.
        3.2. Оплата производится безналичным способом (банковской картой, электронными платежами) или наличными при получении.
        3.3. Цена каждого товара указана на сайте и может быть изменена Продавцом в одностороннем порядке.
        
        4. ДОСТАВКА И ПОЛУЧЕНИЕ ТОВАРА
        4.1. Доставка товаров осуществляется курьерскими службами или самовывозом из аптек.
        4.2. Сроки и условия доставки зависят от региона и согласовываются при оформлении заказа.
        
        5. ВОЗВРАТ И ОБМЕН ТОВАРА
        5.1. Согласно законодательству Республики Узбекистан, лекарственные средства и медицинские изделия не подлежат возврату и обмену, за исключением случаев выявления дефектов.
        5.2. В случае приобретения товара ненадлежащего качества Покупатель вправе обратиться в интернет-аптеку с требованием о замене или возврате денежных средств, предоставив фискальный чек и заключение экспертизы.
        
        6. ПРАВА И ОБЯЗАННОСТИ СТОРОН
        6.1. Продавец обязуется:
        -Обеспечить актуальность информации о товарах, их наличии и ценах.
        -Доставить оплаченный товар Покупателю.
        -Осуществлять продажу сертифицированных товаров, соответствующих стандартам качества.
        
        6.2. Покупатель обязуется:
        -Предоставить достоверную информацию при оформлении заказа.
        -Принять и оплатить заказанный товар в установленные сроки.
        -Ознакомиться с условиями Оферты перед покупкой.
        
        7. ОТВЕТСТВЕННОСТЬ СТОРОН
        7.1. Стороны несут ответственность за неисполнение обязательств в соответствии с законодательством Республики Узбекистан.
        7.2. Продавец не несет ответственности за несоответствие товара ожиданиям Покупателя, если товар соответствует описанию на сайте.
        
        8. ФОРС-МАЖОР
        8.1. Стороны освобождаются от ответственности за неисполнение обязательств при наступлении обстоятельств непреодолимой силы (форс-мажор).
        
        9. ПРОЧИЕ УСЛОВИЯ
        9.1. Настоящая Оферта вступает в силу с момента публикации на сайте интернет-аптеки и действует до момента ее отзыва Продавцом.
        9.2. Продавец оставляет за собой право вносить изменения в условия Оферты без предварительного уведомления.
        9.3. Споры и разногласия, возникающие в ходе исполнения настоящего Договора, решаются путем переговоров, а при невозможности урегулирования – в судебном порядке.
        
        10. РЕКВИЗИТЫ ПРОДАВЦА
        Интернет-аптека AkmalFarmMedical
        Директор: RASULOV XURSHIDBEK RUSTAMOVICH
        Адрес: Андижон вилояти, Андижон шахар, А.Фуркат кучаси 24-уй
        Телефон: +998(78) 298-00-88
        E-mail: info.akmalfarmmed@gmail.com</p>
{% endblock content %}