{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<pre style="white-space: pre-wrap; font-family: inherit;">
 УСЛОВИЯ ВОЗВРАТА ТОВАРА деган жойда

Уважаемые клиенты!
В AkmalFarmMedical мы заботимся о вашем здоровье и придерживаемся строгих стандартов качества и безопасности.

Согласно Постановлению Кабинета Министров Республики Узбекистан от 06.04.2017 г. № 185, лекарственные средства и медицинские изделия, приобретенные в аптеках, не подлежат возврату и замене. Это правило направлено на вашу безопасность и предотвращает риски, связанные с хранением и использованием медицинской продукции.

Если товар имеет недостатки (неоговоренные при покупке), потребитель, согласно ст. 13 Закона Республики Узбекистан «О защите прав потребителей», имеет право:

Заменить товар на аналогичный надлежащего качества.
Выбрать аналог другой марки с перерасчетом стоимости.
Бесплатно устранить недостатки или получить компенсацию за их исправление.
Добиться снижения цены на товар.
Расторгнуть договор и потребовать возмещения убытков.

Для возврата товара ненадлежащего качества необходимо предоставить:

Фискальный чек.
Заключение экспертизы, подтверждающее брак.

Контроль качества:
Контроль за качеством лекарственных средств осуществляет Государственный центр экспертизы и стандартизации лекарственных средств, изделий медицинского назначения и медицинской техники при Агентстве по развитию фармацевтической отрасли Министерства здравоохранения Республики Узбекистан.

Мы понимаем, что такие правила могут вызывать неудобства, поэтому наша команда всегда готова помочь вам с выбором до покупки.

Благодарим за доверие к AkmalFarmMedical
</pre>
{% endblock content %}