{% extends 'base.html' %} {% load static %} {% block content %}
<script src="{% static 'lang/lang.js' %}" defer></script>

<br />
<br />
<br />
<br />
<br />
<pre
  style="white-space: pre-wrap; font-family: inherit"
  data-i18n="return_policyText"
>
Hurmatli mijozlar!
AkmalFarmMedical’da biz sizning salomatligingiz haqida qayg‘uramiz va sifat hamda xavfsizlikning qat’iy standartlariga amal qilamiz.
O‘zbekiston Respublikasi Vazirlar Mahkamasining 06.04.2017 yildagi № 185-son qaroriga ko‘ra, dorixonalarda sotib olingan dori vositalari va tibbiy buyumlar qaytarib berilmaydi va almashtirilmaydi. Bu qoida sizning xavfsizligingizni ta'minlash va tibbiy mahsulotlarning saqlanishi va ishlatilishi bilan bog‘liq xavflarni oldini olish uchun joriy etilgan.
Agar mahsulotda nuqsonlar bo‘lsa (sotib olish paytida ko‘rsatilmagan), iste’molchi O‘zbekiston Respublikasining «Iste’molchilar huquqlarini himoya qilish to‘g‘risida»gi Qonunining 13-moddasiga ko‘ra quyidagi huquqlarga ega:
Mahsulotni sifatli analogiga almashtirish.
Boshqa markadagi analogni tanlash va narxni qayta hisoblash.
Nuqsonlarni bepul bartaraf etish yoki ularni tuzatish uchun kompensatsiya olish.
Mahsulot narxini pasaytirishni talab qilish.
Shartnomani bekor qilish va yetkazilgan zararlarning o‘rnini qoplashni talab qilish.
Nuqsonli mahsulotni qaytarish uchun quyidagilar taqdim etilishi kerak:
Fiskal chek.
Nuqsonni tasdiqlovchi ekspertiza xulosasi.
Sifat nazorati:
Dori vositalarining sifat nazorati O‘zbekiston Respublikasi Sog‘liqni saqlash vazirligi huzuridagi Farmatsevtika sanoatini rivojlantirish agentligi qoshidagi Dori vositalari, tibbiy maqsaddagi buyumlar va tibbiy texnikani ekspertiza va standartlashtirish davlat markazi tomonidan amalga oshiriladi.
Bunday qoidalar noqulaylik tug‘dirishi mumkinligini tushunamiz, shuning uchun jamoamiz har doim sotib olishdan oldin sizga tanlovda yordam berishga tayyor.
AkmalFarmMedical’ga ishonchingiz uchun rahmat!
</pre>
{% endblock content %}