{% extends 'base_filial.html' %} {% block title %}Filial qo‘shish{% endblock %}
{% block content %}
<div class="col-md-12 col-xl-6 mx-auto">
  <div class="auth-main">
    <div class="auth-wrapper v3">
      <div class="auth-form">
        <form action="" method="post">
          {% csrf_token %}
          <div class="card my-5">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-end mb-4">
                <h3 class="mb-0">
                  <b data-i18n="add_branch">Filial qo‘shish</b>
                </h3>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label class="form-label" data-i18n="phone_number"
                      >Telefon raqami</label
                    >
                    <input
                      type="tel"
                      class="form-control"
                      required
                      name="username"
                      placeholder="+998 __ ___ __ __"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label class="form-label" data-i18n="password">Parol</label>
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      required
                      placeholder="Parol"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label class="form-label" data-i18n="branch_name"
                      >Filial nomi</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      required
                      placeholder="Filial nomi"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label class="form-label" data-i18n="branch_address"
                      >Filial manzili</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      required
                      name="address"
                      placeholder="Shahar, ko‘cha, uy"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb-3">
                    <label class="form-label" data-i18n="telegram_id"
                      >Telegram ID</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      required
                      name="telegram_id"
                      placeholder="Telegram ID"
                    />
                  </div>
                </div>
              </div>

              <div class="d-grid mt-3">
                <button
                  type="submit"
                  class="btn bg--color p-2"
                  data-i18n="create_branch"
                >
                  <i class="fas fa-plus"></i> Filial yaratish
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'lang/lang.js' %}" defer></script>
{% endblock content %}