{% extends 'base_filial.html' %}
{% load static %}

{% load static %}
<head>
  <!-- CKEditor JS fayllarini qo'shing -->
  <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
  <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
</head>
{% block content %}
<style>
    .wrap-text {
    max-width: 400px; /* yoki kerakli kenglik */
    white-space: normal; /* matn yangi qatorga tushsin */
    word-wrap: break-word; /* so‘zlarni so‘ndirib yangi qatordan boshlash */
    word-break: break-word;
}
 

</style>
  <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-8">
                <div class="card shadow-lg">
                    <div class="card-header bg--color p-3 text-white text-center">
                        <h4 class="mb-0">MAhsulot Qoshish </h4>
                    </div>
                    <div class="card-body">
                    <form method="post" enctype="multipart/form-data" class="mt-4">
                        {% csrf_token %}
                        
                        {{ form.media }}  
                        {{ form.as_p }}

                        <button type="submit" class="btn btn-primary">Saqlash</button>
                    </form>
                     
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CKEditor qo'shimcha sozlamalari -->
<script>
    // Agar rasm yuklash imkoniyati kerak bo'lsa
    CKEDITOR.on('instanceReady', function(ev) {
        ev.editor.on('fileUploadRequest', function(evt) {
            var xhr = evt.data.fileLoader.xhr;
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        });
    });
</script>
{% endblock %}