{% extends 'base_filial.html' %}

{% block title %}Filial bosh sahifa{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            
            <div class="col-md-8 col-lg-10">
                <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">UID</th>
                    <th scope="col">EDIT</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in page_obj %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{i.id}}</td>
                        <td>{{i.uid}}</td>
                        <td><a href="/filial/product/edit/{{i.id}}" class="btn btn-success">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                
                <nav>
                    <ul class="pagination justify-content-end mt-3">
                    {% for page_num in page_obj.paginator.page_range %}
                    <li class="page-item {% if page_obj.number == page_num %}active{% endif %}">
                        <a class="page-link bg--color" href="?page={{ page_num }}">
                            {{ page_num }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            </div>
        </div>
     </div>



{% endblock content %}