{% extends 'base_filial.html' %}
{% load static %}
{% block title %}Foydalamuchilar Sahifasi 
{% endblock %} {% block content %}

<br />
<br />
<br />
<div class="col-md-12 col-xl-10 mx-auto">
  <table class="table table-bordered border-primary">
    <thead>
      <tr>
        <th scope="col" data-i18n="number">#</th>
        <th scope="col" data-i18n="name">Ism</th>
        <th scope="col" data-i18n="phone">Telefon</th>
        <th scope="col" data-i18n="active">Faol</th>
        <th scope="col" data-i18n="last_order">Oxirgi buyurtma</th>
        <th scope="col" data-i18n="registration">Ro‘yxatdan o‘tgan</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>
          <a href="/filial/order-client/?client-id={{user.id}}"
            >{{user.first_name}}</a
          >
        </td>
        <td>{{user.phone_number}}</td>
        <td>{{user.last_login}}</td>
        <td>
          {% if user.orders %} {{ user.orders.last }} {% else %} Yo‘q {% endif %}
        </td>
        <td>{{user.date_joined}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<script src="{% static 'lang/lang.js' %}" defer></script>
{% endblock content %}