{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="main-content__container">
    <div class="main_picture_slider">
        <!-- Slider Items -->
        <div class="main_picture_slider__item active">
            <img src="{% static 'media/myriam-zilles-KltoLK6Mk-g-unsplash.jpg' %}" alt="Medical supplies">
        </div>
        <div class="main_picture_slider__item">
            <img src="{% static 'media/louis-reed-pwcKF7L4-no-unsplash.jpg' %}" alt="Medical equipment">
        </div>
        <div class="main_picture_slider__item">
            <img src="{% static 'media/online-marketing-hIgeoQjS_iE-unsplash.jpg' %}" alt="Pharmacy items">
        </div>
        
        <!-- Navigation Arrows -->
        <div class="slider-nav prev">
            <i class="fas fa-chevron-left"></i>
        </div>
        <div class="slider-nav next">
            <i class="fas fa-chevron-right"></i>
        </div>
        
        <!-- Dots Navigation -->
        <div class="slider-dots">
            <div class="slider-dot active" data-index="0"></div>
            <div class="slider-dot" data-index="1"></div>
            <div class="slider-dot" data-index="2"></div>
        </div>
    </div>
</div>

<div class="main-content__container">
    {% for group in data %}
    <h3 class="product-list__title">
        {{ group.class_name }}
        <div class="product-list__controls">
            <button class="product-list__control prev">
                <i class="fas fa-chevron-left"></i>
            </button>
            <button class="product-list__control next">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </h3>
    <hr>
    <div class="product-list">

        {% for product in group.products %}
        <div class="product-item-card" data-product-id="{{ product.id }}">
            <div class="product-item-card__image">
                <img src="{{ product.image1 }}" alt="Product 1">
            </div>
            <div class="product-item-card__content">
                <h4>{{ product.name }}</h4>
                <p>{{ product.producer }}</p>
                <span class="price">{{ product.prices.0 }} сум</span>
            </div>
            <div class="product-item-card__actions">
                <button class="add-to-cart">Добавить в корзину</button>
                <div class="product-item-card__buttons">
                    <a href="{% url  'product_detail' product.id %}" class="product-item-card__button about"><i class="fas fa-eye"></i></a>
                    <button class="product-item-card__button wishlist"><i class="fas fa-heart"></i></button>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    {% endfor %}

    {% if not category and data %}
    <div class="product-pagination">
        <div class="product-pagination__controls">
            {% if page > 1 %}
                <button class="product-pagination__control prev">
                    <i class="fas fa-chevron-left"></i>
                </button>
            {% endif %}
            <div class="product-pagination__pages">
                {% for p in paginator.page_range %}
                    {% if p == page %}
                    <a href="?page={{ p }}" class="product-pagination__page active">
                        {{ p }}
                    </a>
                    {% else %}
                    <a href="?page={{ p }}" class="product-pagination__page">
                        {{ p }}
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
            {% if page < paginator.num_pages %}
            <button class="product-pagination__control next">
                <i class="fas fa-chevron-right"></i>
            </button>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <hr>
    <h3 class="product-list__title">
        Наши партнеры
    </h3>
    <hr>
    <div class="brand-list">

        <div class="brand-card">
            <div class="brand-card__image">
                <img src="{% static 'assets/rasm/Abbott.png' %}" alt="">
            </div>
        </div>

        <div class="brand-card">
            <div class="brand-card__image">
                <img src="{% static 'assets/rasm/Bayer.png' %}" alt="">
            </div>
        </div>

        <div class="brand-card">
            <div class="brand-card__image">
                <img src="{% static 'assets/rasm/Dr.reddys.png' %}" alt="">
            </div>
        </div>

        <div class="brand-card">
            <div class="brand-card__image">
                <img src="{% static 'assets/rasm/Farmak.png' %}" alt="">
            </div>
        </div>

        <div class="brand-card">
            <div class="brand-card__image">
                <img src="{% static 'assets/rasm/KRKA.png' %}" alt="">
            </div>
        </div>

        <div class="brand-card">
            <div class="brand-card__image">
                <img src="{% static 'assets/rasm/Sandoz.png' %}" alt="">
            </div>
        </div>
        
        <div class="brand-card">
            <div class="brand-card__image">
                <img src="{% static 'assets/rasm/SANOFI.png' %}" alt="">
            </div>
        </div>
        
        <div class="brand-card">
            <div class="brand-card__image">
                <img src="{% static 'assets/rasm/KRKA.png' %}" alt="">
            </div>
        </div>
        
        <div class="brand-card">
            <div class="brand-card__image">
                <img src="{% static 'assets/rasm/Sandoz.png' %}" alt="">
            </div>
        </div>
        
        <div class="brand-card">
            <div class="brand-card__image">
                <img src="{% static 'assets/rasm/SANOFI.png' %}" alt="">
            </div>
        </div>

    </div>

    <h3 class="product-list__title">
        Последние новости
    </h3>
    <hr>
    <div class="blog-list">
        {% for blog in blogs %}
        <div class="blog-card">
            <div class="blog-card__image">
                <img src="{{ blog.image.url }}" alt="Product 1">
            </div>
            <div class="blog-card__content">
                <h4>{{ blog.title }}</h4>
                <p>{{ blog.created_at }}</p>
                <p>{{ blog.text|truncatechars:100 }}</p>
            </div>
            <div class="blog-card__actions">
                <a href="{% url 'blog_details' blog.id %}" class="add-to-cart"> Подробнее <i class="fas fa-eye"></i></a>
            </div>
        </div>
        {% endfor %}

    </div>


    <div class="help-text">
        <h4>Интернет-аптека "Akmal Farm Medical"</h4><br>
        <p>Добро пожаловать в интернет-аптеку "Akmal Farm Medical"! <br> Здесь и во всех наших филиалах вы найдёте всё
            необходимое для заботы о своём здоровье. Мы используем современные технологии, <br> а также всегда рады
            покупателям
            Вас ждёт быстрое обслуживание, широкий ассортимент, комфорт и удобство. <br> И при этом главная
            отличительная
            черта
            наших аптек в том, что сэкономить на лекарствах можно, нужно только прийти и убедиться!
    
            Наша цель – предоставить <br> каждому покупателю возможность приобрести необходимые медикаменты по самым
            выгодным
            ценам, даже по сравнению с другими аптеками.
            <br>
            ⚪️ Оптимизированная закупочная политика – мы сотрудничаем с крупнейшими поставщиками и закупаем продукцию в
            больших объёмах.
            <br>
            ⚪️ Прямые поставки от производителей – сокращение цепочки посредников позволяет нам предлагать лучшие цены.
            <br>
            ⚪️ Гарантия качества – все лекарства сертифицированы и проходят строгую проверку.
            <br>
            ⚪️ Высокий товарооборот – благодаря активным продажам у нас нет препаратов с истёкшим сроком годности.
            <br>
            Как оформить заказ?<br>
            1. Найдите нужный препарат на сайте. <br>
            2. Добавьте его в корзину и перейдите к оформлению заказа <br>
            3. Укажите контактные данные и адрес доставки. <br>
            4. Произведите оплату <br>
            5. Ожидайте доставку
            <br>
    
            Наши специалисты всегда готовы помочь! Для консультаций звоните по телефону: +998 (78) 298-00-88 или по
            короткому номеру 1080.
            <br>
            Мы ценим доверие наших клиентов и стремимся сделать процесс покупки удобным и безопасным. Спасибо, что
            выбираете
            интернет-аптеку "Akmal Farm Medical"!
    
        </p>
    </div>


    <div class="features-index">
        <div class="features-index__item">
            <div class="features-index__item-image">
                <img src="{% static 'assets/img/Гарантия качества.jpeg' %}" alt="">
            </div>
            <button class="features-index__item-button" onclick="showModal('featuresModal1')">
                Подробнее
            </button>
        </div>
        <div class="features-index__item">
            <div class="features-index__item-image">
                <img src="{% static 'assets/img/Условия доставки.jpeg' %}" alt="">
            </div>
            <button class="features-index__item-button" onclick="showModal('featuresModal2')">
                Подробнее
            </button>
        </div>
    </div>

    <div id="featuresModal1" class="features-modal">
        <div class="features-modal-content">
            <span class="close-btn" onclick="hideModal('featuresModal1')">&times;</span>
            <p>Аптечная сеть «Akmal Farm Medical» сотрудничает напрямую с ведущими производителями и дистрибьюторами товаров
                для красоты и здоровья. Благодаря этому мы гарантируем 100% качество всех наименований в нашем ассортименте,
                включая лекарственные препараты, косметику, биологически активные добавки (БАД) и медицинские товары.</p>
        </div>
    </div>
    
    <div id="featuresModal2" class="features-modal">
        <div class="features-modal-content">
            <span class="close-btn" onclick="hideModal('featuresModal2')">&times;</span>
            <p><span style="color: red;">Внимание! Адресная доставка недоступна для рецептурных препаратов, наркотических
                    средств, психотропных,
                    сильнодействующих и ядовитых веществ, а также для препаратов, требующих особых условий хранения и
                    транспортировки. </span> <br>
                <b>Доставка курьером</b>
                <br>
                Курьерская доставка осуществляется только для безрецептурных препаратов.
                Стоимость доставки рассчитывается по тарифам Yandex Delivery.
                Оплата возможна наличными курьеру при получении заказа. <br>
                <b>Способы оплаты</b> <br>
                Оплата наличными доступна только при покупке лекарств непосредственно в аптеке. <br>
    
                При оформлении доставки оплата возможна только картой. Вы можете оплатить заказ через банковские приложения
                как при оформлении доставки, так и непосредственно в аптеке при получении товара.
                <br>
                <b>Самовывоз из аптеки</b>
                <br>
                Доставка рецептурных препаратов в Республике Узбекистан запрещена. Их можно получить только при
                самостоятельном визите в аптеку.
                <br>
                Оформить самовывоз можно на сайте, оплата производится наличными при получении или картой.
                Дополнительные комиссии за самовывоз не взимаются.
            </p>
        </div>
    </div>

    <script>
        // Modal functionality
        function showModal(modalId) {
            const modal = document.getElementById(modalId);
            modal.style.display = 'block';
            document.body.style.overflow = 'hidden'; // Prevent scrolling when modal is open
        }

        function hideModal(modalId) {
            const modal = document.getElementById(modalId);
            modal.style.display = 'none';
            document.body.style.overflow = ''; // Restore scrolling
        }

        // Close modal when clicking outside
        window.onclick = function(event) {
            if (event.target.classList.contains('features-modal')) {
                event.target.style.display = 'none';
                document.body.style.overflow = '';
            }
        }

        // Close modal on escape key
        document.addEventListener('keydown', function(event) {
            if (event.key === 'Escape') {
                const modals = document.getElementsByClassName('features-modal');
                for (let modal of modals) {
                    if (modal.style.display === 'block') {
                        modal.style.display = 'none';
                        document.body.style.overflow = '';
                    }
                }
            }
        });
    </script>

</div>

{% endblock %}

{% block js %}
<script src="{% static 'own-js/slider.js' %}"></script>
{% endblock %}