{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tasdiqlash</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <style>
        #myInput {
            display: none; /* Boshlang'ich holatda yashirin */
            margin-top: 20px;
            padding: 10px;
            font-size: 16px;
        }

    body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin-top: 100px;
    }
    .timer {
        font-size: 24px;
        font-weight: bold;
        color: #f30f0f;
    }
</style>
</head>
<body>
  <div class="container" id="myInput">
    <div class="login form">
      <header>Tasdiqlash Kodini Kiriting</header>
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
        <h3>Telefon raqamga kod yuborildi: {{ phone_number }}</h3>
        <div class="timer" id="countdown">63</div>
        <form  method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" class="button"   value="Tasdiqlash">
      </form>
      <br>

    </div>
  </div>

  <script>
      // 90 soniyadan boshlash
      let timeLeft = 63;
      const countdownElement = document.getElementById('countdown');
      
      // Har soniyada hisoblash
      const timer = setInterval(() => {
          timeLeft--;
          countdownElement.textContent = timeLeft;
          
          // Agar vaqt tugasa
          if (timeLeft <= 0) {
              clearInterval(timer);
              // Boshqa sahifaga o'tkazish (o'zgartiring)
              window.location.href = "/"; // Boshqa sahifa manzili
          }
      }, 1000); // Har 1000ms (1 soniya)

      setTimeout(function() {
            document.getElementById("myInput").style.display = "block";
            
            // Agar CSS-da visibility ishlatgan bo'lsangiz:
            // document.getElementById("myInput").style.visibility = "visible";
        }, 3000); // 4000ms = 4 soniya
  </script>
</body>
</html>
