{% extends 'website_dashboard/web_base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Vakansiya uchun arizalar</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped verticle-middle table-responsive-sm">
                            <thead>
                               <tr>
                                    <th scope="col">#</th>
                                    <th scope="col" title="Фамилия Имя Отчество">ФИО</th>
                                    <th scope="col" title="Дата рождения">Дата</th>
                                    <th scope="col" title="Адрес проживания">Адрес</th>
                                    <th scope="col" title="Образование">Образ.</th>
                                    <th scope="col" title="Последнее место работы">Работа</th>
                                    <th scope="col" title="Желаемая зарплата">Зарплата</th>
                                    <th scope="col" title="Номер телефона для связи">Телефон</th>
                                </tr>

                            </thead>
                            <tbody>
                                {% for application in vacancy_application %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ application.fio }}</td>
                                    <td>{{ application.date_of_birth }}</td>
                                    <td style="max-width: 150px; word-break: break-word; white-space: normal;">
                                        {{ application.address }}
                                    </td>

                                    <td>{{ application.education }}</td>
                                    <td>{{ application.last_job }}</td>
                                    <td>{{ application.desired_salary }}</td>
                                    <td>{{ application.phone_number }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5" class="text-center">Vakansiya uchun arizalar mavjud emas</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function() {
        $('.delete-application').click(function(e) {
            e.preventDefault();
            if(confirm('Ushbu arizani o\'chirishni istaysizmi?')) {
                // Add delete functionality here if needed
                // For now this is just a placeholder
            }
        });
    });
</script>
{% endblock %}